@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-5rem);

    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(6rem);

    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes slideRight {
    0% {
        transform: rotateX(180deg) translateX(-150%);

    }

    100% {
        transform: rotateX(180deg) translateX(0);
    }
}

@keyframes live{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slideLeft {
    animation: slideLeft .5s;
}